.main{
  background-color: #F0D8D8;
  height: 100vh;
  width: 100vw;
  font-size: 30px;
  padding: 20px;
  &__user{
    margin-top: 30px;
    &__lists{
      &__list{
        display: flex;
        font-size: 15px;
      }
    }
  }
}